p {
    color: #969292;
}

img {
    width: 100%;
    height: 100%;
}

.home-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8),
      rgba(63, 62, 62, 0.8)
    ),
    url("../../assets/img/background.jpg");
  background-size: cover;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.home-logo-container {
    height: auto;
    width: auto;
    background-size: cover;
}

.home-logo {
    max-width: 550px;
}

.home-subtitle-container {
    margin-top: -15%;
    text-align: center;
}

.home-subtitle-container > p {
    margin: 20px;
}

.home-button {
    height: 40px;
    min-width: 200px;
    width: auto;
    border: 0;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    padding: 0 16px;
    margin: 10px 0;
    transition: all 0.3s ease 0s;
}

.home-button:hover {
    filter: brightness(85%);
    opacity: 0.95;
    box-shadow: 1px 2px 8px #646464;
}

.home-button:active {
    filter: brightness(120%);
}

.home-button--login {
    background-color: #338F3A;
}

.home-button--register {
    background-color: #d49929;
}

@media (max-width: 300px) {
p {
    font-size: 0.7em;
}
}

/* @media (min-width: 600px) {

}

@media (min-width: 900px) {
    
}

@media (min-width: 1200px) {

}

@media (min-width: 1800px) {

} */


