.meeting-container {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meeting-header {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
}

.meeting-icon {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;
    justify-content: center;
}

.meeting-form-container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meeting-input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.meeting-input-title {
    display: flex;
    justify-content: flex-start;
}

.meeting-input-title > p {
    color: rgb(36, 36, 36);
    font-weight: bold;
    margin: 5px;
}

.meeting-form-input {
    width: 90%;
    max-width: 350px;
    padding: 10px;
    margin: 7px;
    border-radius: 5px;
    border: 0.7px solid grey;
    box-sizing: border-box;
}


.meeting-form-input:hover {
    box-shadow: 0 0 3px 1px rgb(129, 129, 129) ;
}

.meeting-form-input:focus {
    box-shadow: 0 0 3px 1px rgb(129, 129, 129) ;
}

.meeting-add-button {
    width: 70%;
    max-width: 200px;
    background-color: #EE964B;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    align-self: center;
}

.meeting-add-button:active {
    filter: Brightness(120%);
}

.meeting-add-button:hover {
    filter: Brightness(120%);
}

@media (min-width: 900px) {
    .meeting-input-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }
    .meeting-input-title {
        width: 150px;
        justify-content: flex-end;
        margin-right: 10px;
    }
    .meeting-add-button {
        margin-top: 20px;
    }

}
  
